.contact {
  margin-bottom: 194px;
  padding: 162px 8% 0;
  background: url("../img/contact-bg-mobile.png") no-repeat;
  background-position: left 50% top 391px;

  @media (min-width: $tablet-width) {
    margin-bottom: 240px;
    padding-top: 180px;
    background: url("../img/contact-bg-tablet.png") no-repeat;
    background-position: left 50% top 459px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 189px;
    padding: 182px 22% 0 8%;
    display: flex;
    background: url("../img/contact-bg-tablet.png") no-repeat;
    background-position: left 11% top 472px;
  }
}

.contact__text {
  text-align: center;

  &.br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-right: 14%;
    text-align: left;

    &.br {
      display: initial;
    }
  }
}

.contact__span {
  font-size: 15px;
  line-height: 21px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: #1C57C9;
}

.contact__head {
  margin-top: 13px;
  font-size: 32px;
  line-height: 45px;
  font-family: "Inter-Bold";
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 16px 178px 0;
    font-size: 42px;
    line-height: 59px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    letter-spacing: -0.02em;
  }
}

.contact__form {
  min-width: 320px;
  max-width: 424px;
  margin: 426px auto 0;

  @media (min-width: $tablet-width) {
    min-width: 424px;
    max-width: 74%;
    margin: 490px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    margin: 0;
  }
}

.contact__item {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.contact__label {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Inter-Regular";
  color: #262B35;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    line-height: 19px;
  }
}

.contact__input {
  width: 100%;
  padding: 10px 0 10px 20px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 3px;
  font-family: "Inter-Regular";
  color:#CCCCCC;
  border: 1px solid #CCCCCC;

  &::placeholder {
    font-size: 18px;
    line-height: 24px;
    border-radius: 3px;
    font-family: "Inter-Regular";
    color:#CCCCCC;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.concat__select {
  padding: 10px 0 10px 20px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 3px;
  font-family: "Inter-Regular";
  color:#CCCCCC;
  border: 1px solid #CCCCCC;
}

.contact__textarea {
  padding: 10px 0 10px 20px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 3px;
  font-family: "Inter-Regular";
  color:#CCCCCC;
  border: 1px solid #CCCCCC;
  resize: none;
}

.contact__btn {
  width: 100%;
  margin-top: 26px;
  padding: 11px 0 12px 0;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  font-family: "Inter-Bold";
  text-align: center;
  color:#ffffff;
  background-color: #1ECE7A;
  border-radius: 3px;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 13px 0;
    font-size: 15px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 148px;
  }
}
