.features {
  margin-bottom: 224px;
  padding: 62px 8% 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 168px;
    padding: 60px 9% 0;
    background: url("../img/features-dot-tablet.svg") no-repeat;
    background-position: top 110px right 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 182px;
    padding: 182px 8% 0;
    background: url("../img/features-dot-desktop.svg") no-repeat;
    background-position: top -29px right 0;
  }
}

.features__promo {
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter-MediumItalic";
  text-align: center;
  color: #606c84;

  @media (min-width: $tablet-width) {
    margin: 0 20px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 265px 0 0;
    text-align: left;
  }
}

.feature__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__pic {
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin: 96px 20% 0;
  }

  @media (min-width: $desktop-width) {
    width: 32%;
    margin: 203px 6% 0 0;
  }
}

.features__info {
  @media (min-width: $desktop-width) {
    width: 54%;
  }
}

.features__text {
  margin: 48px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 96px 2% 60px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.features__span {
  font-size: 15px;
  line-height: 21px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: #1c57c9;
}

.features__head {
  margin-top: 13px;
  font-size: 32px;
  line-height: 45px;
  font-family: "Inter-Bold";
  color: #262b35;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.features__para {
  margin-top: 21px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter-Regular";
  color: #606c84;

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.features__item {
  margin-bottom: 30px;
  text-align: center;

  &--automatic {
    background: url("../img/icon-automatic.svg") no-repeat;
    background-position: top 0 left 50%;
  }

  &--diagnostics {
    background: url("../img/icon-diagnostics.svg") no-repeat;
    background-position: top 0 left 50%;
  }

  &--disaster {
    background: url("../img/icon-disaster.svg") no-repeat;
    background-position: top 0 left 50%;
  }

  &--service {
    background: url("../img/icon-service.svg") no-repeat;
    background-position: top 0 left 50%;
  }

  @media (min-width: $tablet-width) {
    width: 48%;
    margin-bottom: 36px;

    &:not(:nth-child(2n)) {
      margin-right: 2%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 49%;
    margin: 0 0 36px ;
    text-align: left;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &--automatic {
      background: url("../img/icon-automatic.svg") no-repeat;
      background-position: top 0 left 0;
    }

    &--diagnostics {
      background: url("../img/icon-diagnostics.svg") no-repeat;
      background-position: top 0 left 0;
    }

    &--disaster {
      background: url("../img/icon-disaster.svg") no-repeat;
      background-position: top 0 left 0;
    }

    &--service {
      background: url("../img/icon-service.svg") no-repeat;
      background-position: top 0 left 0;
    }
  }
}

.features__title {
  padding-top: 91px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter-SemiBold";
  color: #000000;
}

.features__para--item {
  margin: 16px 30px 0;
  padding-bottom: 23px;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 16px 26px 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 16px 0 0;
    padding-bottom: 0;
  }
}
