
.header__container {
  padding: 0;
  height: 812px;
  margin-bottom: 37px;
}

.header__container--closeMenu {
  background: url("../img/header-dot-bg-mobile.svg") no-repeat, url("../img/header-bg-desktop.png") no-repeat;
  background-position: bottom -6px left 0, bottom 72px left 50%;

  @media (min-width: $tablet-width) {
    background: url("../img/header-bg-oval-mobile.svg") no-repeat, url("../img/header-dot-bg-tablet.svg") no-repeat, url("../img/header-bg-desktop.png") no-repeat;
    background-position: top 15px left 100%, bottom 6px left 0, bottom 0 left 0;
  }

  @media (min-width: $desktop-width) {
    height: 840px;
    margin: 0;
    padding: 0 8%;
    background: url("../img/header-pic1-desktop.png") no-repeat,  url("../img/header-pic2-desktop.png") no-repeat,  url("../img/header-dot-bg-desktop.svg") no-repeat, url("../img/header-bg-oval-mobile.svg") no-repeat, url("../img/header-bg-desktop.png") no-repeat;
    background-position: bottom -60px right 0, top 100px right 75px, bottom 0 left 0, top 0 left 79.5%, top 0 left 0;
  }
}

.header__container--openMenu {
  background: url("../img/header-dot-bg-open-mobile.svg") no-repeat, url("../img/header-bg-desktop.png") no-repeat, rgba(96, 108, 132, 1);
  background-position: bottom -6px left 0, bottom 72px left 50%, 0;
  background-blend-mode: multiply;

  @media (min-width: $tablet-width) {
    background: url("../img/header-dot-bg-open-tablet.svg") no-repeat, url("../img/header-bg-desktop.png") no-repeat, rgba(96, 108, 132, 1);
    background-position: bottom 6px left 0, bottom 0 left 0;
    background-blend-mode: multiply;
  }
}

.header__navigation {
  @media (min-width: $desktop-width) {
    padding: 36px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__navigation--openMenu {
  background-color: #ffffff;
}

.header__controls {
  margin: 0 6%;
  padding: 34px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin: 0 96px 0 0;
    padding: 0;
  }
}

.header__controls--openMenu {
  padding-bottom: 13px;
}

.header__logo {
  font-size: 22px;
  line-height: 27px;
  text-decoration: none;
  font-family: "Inter-Bold";
  color: #000000;

  @media (min-width: $desktop-width) {
    width: 167px;
  }
}

.header__img--closeMenu {
  display: block;
}

.header__img--openMenu {
  display: none;
}

.header__span--openMenu {
  display: none;
}

.header__control {
  padding: 9px 21px;
  font-size: 15px;
  line-height: 18px;
  font-family: "Inter-Bold";
  border-radius: 3px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__control--close {
  color: #FF5A4F;
  background-color: #ffffff;
  border: 1px solid #FF5A4F;
}

.header__control--menu {
  color: #ffffff;
  background: #1C57C9;
  border: 1px solid #ffffff;
}

.header__control--openMenu {
  display: none;
}

.header__nav {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.header__nav--closeMenu {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }

}

.header__list {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    flex-direction: row;
  }
}

.header__item {
  margin-top: 42px;

  @media (min-width: $desktop-width) {
    margin: 0 42px 0 0;
  }
}

.header__link {
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Inter-Regular";
  color: #606C84;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
}

.header__link--active {
  font-family: "Inter-Bold";
  color: #1C57C9;
}

.header__sign {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-left: 18%;
  }
}

.header__check {
  @media (min-width: $desktop-width) {
    padding: 10px 24px;
    font-size: 13px;
    line-height: 16px;
    font-family: "Inter-Bold";
    color: #262B35;
    background-color: #ffffff;
    border: none;

    &--active {
      color: #1ECE7A;
      border-left: 1px solid #262B35;
    }
  }
}

.header__inscription {
  @media (min-width: $desktop-width) {
    width: 42%;
  }
}

.header__text--openMenu {
  display: none;
}

.header__text--closeMenu {
  margin-top: 28px;
  display: block;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 60px 14% 0 9%;
  }

  @media (min-width: $tablet-space-widht ) {
    margin: 60px 24% 0 20%;
  }

  @media (min-width: $desktop-width) {
    margin: 96px 0 0 0;
    text-align: left;
  }
}

.header__head {
  font-size: 42px;
  line-height: 59px;
  font-family: "Inter-Bold";

  @media (min-width: $tablet-width) {
    margin: 0 20px;
    font-size: 55px;
    line-height: 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.header__head br {
  display: none;

  @media (min-width: $tablet-width) {
    display: initial;
  }
}

.header__para {
  margin: 18px 21px 30px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter-Regular";

  @media (min-width: $tablet-width) {
    margin: 36px 0 60px;
    font-size: 20px;
    line-height: 32px;
  }
}

.header__buttons {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0 281px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    justify-content: flex-start;
  }
}

.header__btn:first-child {
  margin-right: 4%;
}

.header__buttons--openMenu {
  padding: 0 37px 84px;
  background-color: #ffffff;

  .header__btn--start {
    padding: 15px 28px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
    flex-direction: column;
    align-items: center;

    .header__btn--start {
      margin:0 0 15px;
    }
  }
}

.header__btn {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  font-family: "Inter-Bold";
  color: #1ECE7A;
  border: 1px solid #1ECE7A;
  border-radius: 3px;

  @media (min-width: $desktop-width) {
    margin-right: 16px;
  }
}

.header__btn--active {
  color: #ffffff;
  background-color: #1ECE7A;
}

.header__btn--openMenu {
  display: none;
}

.header__btn--start {
  padding: 15px 22px;

  @media (min-width: $tablet-width) {
    padding: 13px 21px;
  }
}

.header__btn--sign {
  padding: 15px 45.5px;
}

.header__btn--more {
  padding: 15px 23px;
  color: #ffffff;
  border: 1px solid #ffffff;

  @media (min-width: $tablet-width) {
    padding: 13px 21px;
  }
}
