.services {
  margin-bottom: 215px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);

  @media (min-width: $tablet-width) {
    margin-bottom: 300px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 160px 182px;

  }
}

.services__text {
  text-align: center;
}

.services__span {
  font-size: 15px;
  line-height: 21px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: #1C57C9;
}

.services__head {
  margin: 13px 8% 0;
  font-size: 32px;
  line-height: 45px;
  font-family: "Inter-Bold";
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 16px 16% 0;
    font-size: 42px;
    line-height: 59px;
  }
}

.services__title {
  margin: 24px 8% 64px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter-Regular";
  color: #606184;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 93px;
  }
}

.services__pic {
  margin: 0 8%;

  @media (min-width: $tablet-width) {
    margin: 0 12% 0 7%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 17% 0 14%;
  }
}

.services__slider {
  margin: 84 auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;

  @media (min-width: $tablet-width) {
    margin-top: 115px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 120px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}

.services__item {
  min-width: 320px;
  margin: 16px 8px;
  border-radius: 16px;
  box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);

  &--optimizer {
    margin-left: 16px;
    background: url("../img/icon-optimizer.svg") no-repeat;
    background-position: left 24px top 20px;
  }

  &--management {
    background: url("../img/icon-management.svg") no-repeat;
    background-position: left 24px top 20px;
  }

  &--predictive {
    margin-right: 16px;
    background: url("../img/icon-predictive.svg") no-repeat;
    background-position: left 24px top 20px;
  }

  &--desktop-only {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 360px;
    margin: 16px 10px;

    &--optimizer {
      margin-left: 20px;
    }

    &--predictive {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    margin: 0 20px 20px 0;
    background-color: #ffffff;
    box-shadow: none;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--guide {
      background: url("../img/icon-guide.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--energy {
      background: url("../img/icon-energy.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--smart {
      background: url("../img/icon-smart.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--scan {
      background: url("../img/icon-scan.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--alerts {
      background: url("../img/icon-alerts.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--preventative {
      background: url("../img/icon-preventative.svg") no-repeat, #ffffff;
      background-position: left 24px top 20px;
    }

    &--desktop-only {
      display: block;
    }
  }
}

.services__para {
  padding: 34px 0 34px 109px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Inter-SemiBold";
  color: #000000;

  &--twos-trings {
    padding: 20px 58px 18px 109px;
  }

  @media (min-width: $tablet-width) {
    padding: 36px 0 36px 109px;
    line-height: 24px;

    &--two-strings {
      padding: 22px 98px 26px 109px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 36px 0 36px 109px;

    &--two-strings {
      padding: 22px 90px 26px 109px
    }
  }
}
