.update {
  height: 2035px;
  margin-bottom: 200px;
  background: url("../img/udate-pic-1.png") no-repeat,  url("../img/udate-pic-3.png") no-repeat, url("../img/udate-pic-2.png") no-repeat, url("../img/update-bg.png") no-repeat;
  background-position: left 0px top 188px, left 0px top 342px, right 0px top 222px, left 0px top 415px;

  @media (min-width: $tablet-width) {
    height: 1743px;
    margin-top: 120px;
    background: url("../img/update-dot-tablet.svg") no-repeat, url("../img/udate-pic-1-tablet.png") no-repeat,  url("../img/udate-pic-3-tablet.png") no-repeat, url("../img/udate-pic-2-tablet.png") no-repeat, url("../img/update-bg-tablet.png") no-repeat;
    background-position: right 0 bottom 0, left 0px top 189px, left 0px top 465px, right 0px top 249px, left 0px top 639px;
  }
}

.update__text {
  text-align: center;
}

.update__span {
  font-size: 15px;
  line-height: 21px;
  font-family: "Inter-Bold";
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: #1C57C9;
}

.update__head {
  margin: 13px 28px 0;
  font-size: 32px;
  line-height: 45px;
  font-family: "Inter-Bold";
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 16px 195px 0;
    font-size: 42px;
    line-height: 59px;
  }
}

.update__list {
  margin-top: 506px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 810px 97px 0 55px;
    display: flex;
    flex-wrap: wrap;
  }
}

.update__item {
  margin-bottom: 36px;

  &--monitor {
    background: url("../img/icon-monitor.svg") no-repeat;
    background-position: left 50% top 40px;
  }

  &--maintenance {
    background: url("../img/icon-maintenance.svg") no-repeat;
    background-position: left 50% top 40px;
  }

  &--repair {
    background: url("../img/icon-repair.svg") no-repeat;
    background-position: left 50% top 40px;
  }

  &--replace {
    background: url("../img/icon-replace.svg") no-repeat;
    background-position: left 50% top 40px;
  }

  @media (min-width: $tablet-width) {
    width: 331px;
    margin-bottom: 64px;

    &--monitor {
      background-position: left 50% top 0;
      margin-right: 20px;
    }

    &--maintenance {
      background-position: left 50% top 0;
    }

    &--repair {
      background-position: left 50% top 0;
      order: 4;
    }

    &--replace {
      margin-right: 20px;
      background-position: left 50% top 0;
    }
  }
}

.update__title {
  padding-top: 124px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter-Bold";
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 91px;
  }
}

.update__para {
  margin: 16px 27px 0;
  font-size: 15px;
  line-height: 24px;
  font-family: "Inter-Regular";
  color: #ffffff;

  &--monitor {
    padding-bottom: 40px;
  }

  &--maintenance {
    padding-bottom: 16px;
  }

  @media (min-width: $tablet-width) {
    margin: 16px 25px 0;
    padding: 0;
  }
}
