@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  overflow-x: hidden;
}

h2,
h3,
p {
  margin: 0;
}

ul,
img,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Inter-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter-SemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter-MediumItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"), url("../fonts/Inter-MediumItalic.woff") format("woff");
}

.wrap {
  width: 375px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 834px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0 135px 154px 119px;
    display: flex;
  }
}
